<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:property name="PI" value="3.14159265359" />

  <ros2_control name="RobotSystem" type="system">
    
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

     <joint name="joint1">
      <command_interface name="position">
        <param name="min">-3.1241</param>
        <param name="max">3.1241</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param> </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint2">
      <command_interface name="position">
        <param name="min">-1.3962</param>
        <param name="max">2.4435</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param> </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint3">
      <command_interface name="position">
        <param name="min">-1.3962</param>
        <param name="max">2.4435</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param> </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint4">
      <command_interface name="position">
        <param name="min">-3.1241</param>
        <param name="max">3.1241</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint5">
      <command_interface name="position">
        <param name="min">-1.6581</param>
        <param name="max">1.6581</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint6">
      <command_interface name="position">
        <param name="min">-3.1241</param>
        <param name="max">3.1241</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

  </ros2_control>

</robot>